h3 {
    border-top: black solid 2px;
}
nav {
    text-align: left;
    display: inline;
}
aside{
    position: relative;
    top: -16em;
    left: 10px;
    margin-left: 15em;
    padding: 0;
}
footer{
    padding: 0;
    margin: 0;
}
