*{
    text-align: center;
}
table{
    display: inline;
}
tr#Portera{
    display: inline;
    position: relative;
    right:10em;
}
tr#defensa{
    display: inline-block;
    position: relative;
    right:8em;
}
tr{
    display: block;
    width: 100%;
}
tr#suplentes{
    display: inline-block;
    position: relative;
    right:8em;
}
th{
    display: inline-block;
    position: relative;
    right:10em;
}